.bottom-line {
    border-bottom: thick solid #337AB7;
}

.left-pad {
    padding-left: 20px;
}

.right-pad {
    padding-right: 20px;
}

.map-canvas {
    width:100%;
    height: 90%;
    position: relative !important;
}

.map-div {
    height: 300px;
}

.travel-div {
    height: 150px;
}

#speed_range {
    float:left;
    width: 300px;
    margin: 15px;
    display: inline !important;
}
#speed_range .ui-slider-range { background: #729fcf; }
#speed_range .ui-slider-handle { border-color: #729fcf; }
